# ESP32 (CP2102, No Serial Product, clone)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="myESP32, MODE=="0666"
# Arduino Uno / ESP8266 (CH430; No Serial Product; clone)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="myUNO", MODE=="0666"